
@model SamplesSignalR.Models.CustomersViewModel

@section adhoc_Scripts_Top {
    <script src="~/lib/signalr/signalr.min.js"></script>
}

<h1 class="text-center">
    UI Updater
</h1>
<hr />
<div clas="alert alert-info">
    <span id="msg"></span>
    <span class="badge" id="connId"></span>
</div>


<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <p class="navbar-brand">List of customers</p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="col-md-6" id="listOfCustomers">
        @await Html.PartialAsync("pv_ListOfCustomers")
    </div>
</div>

<script type="text/javascript">
    function d(id) {
        var url = "/demo/d/";
        $.post(url, { id: id })
            .done(function (response) {
            });
    }
</script>

<script>
    // SignalR bootstrap

    var updaterConnection;
    openConnection();

    function openConnection() {
        $("#msg").html("Preparing...");

        updaterConnection = new signalR.HubConnectionBuilder()
            .withUrl('/updaterDemo')
            .build();

        updaterConnection
            .start()
            .then(() => {
                updaterConnection.invoke("getConnectionId")
                    .then((connectionId) => { 
                        $("#msg").html("Connection established: ");
                        $("#connId").html(connectionId);
                    });
            })
            .catch(() => {
                alert("Error while establishing connection");
            });
    }
</script>

<script>
    updaterConnection.on("refreshUI", () => {
        $("#listOfCustomers").load("/demo/list");
    });
</script>
